<form class="form-group-group card bg-dark grey mt-1" id="downloadNewPlugin">
    <div class="card-body">
        <div class="form-group">
            <input type="text" placeholder="Download URL for Module" class="form-control" name="downloadUrl" />
        </div>
        <div class="form-group">
            <input type="text" placeholder="Subdirectory for Module (Inside the downloaded package)" class="form-control" name="packageRoot" />
        </div>
        <div><button type="submit" class="btn btn-round btn-block btn-default mb-0"><i class="fa fa-download"></i> <%- lang.Download %></button></div>
    </div>
</form>
<div class="form-group-group red pt-4 pb-0 m-0" id="pluginManagerList">

</div>
<script src="<%-window.libURL%>assets/js/super.pluginManager.js" type="text/javascript"></script>
